 body{
     /* Vízszintesen középre helyezés */
     /* Függőlegesen középre helyezés */
    background-image: url(back.jpg);

    background-size: cover;
    background-repeat: no-repeat;
}

#blankKartya
{
    height: 200px;
    width: 120px;
    color: black;
    font-size: 30px;
    border-radius: 5%;
    text-align: center;
    justify-content: center;

    
}
#kartyaHatter
{
    background-color: white;
    width: 100px;
    height: 100px;
}

