 body{
     /* Vízszintesen középre helyezés */
     /* Függőlegesen középre helyezés */
    background-image: url(uno.jpg);

    background-size: cover;
    background-repeat: no-repeat;
}

#blankKartya
{
    height: 200px;
    width: 120px;
    color: black;
    font-size: 30px;
    border-radius: 5%;
    text-align: center;
    justify-content: center;

    
}
#kartyaHatter
{
    background-color: white;
    width: 100px;
    height: 100px;
}
#szabaly1{
    border: 5px solid salmon;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
   color: aliceblue;
    width: 30%;
    height: 35%;
    background-position: center;
    font-size: 60px;
    background-size: cover;
    font-family: sans-serif;
    background-image: url(back.jpg);
    border: 10px solid rgb(0, 0, 0);
    font-weight: bold;
}
#done {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 100px;
    width: 10%;
    height: 10%;
    cursor: pointer;
    font-size: 50px;
    font-family: sans-serif;
    background-image: url(back3.jpg);
    background-size: cover;
    color: aliceblue;
    font-weight: bold;
}
#jatekosMenuDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 100px;
    width: 10%;
    height: 10%;
    cursor: pointer;
    font-size: 50px;
    font-family: sans-serif;
   
    background-size: cover;
    color: aliceblue;
    font-weight: bold;
}
#jatekosMenuMainDiv{
    display: flex;
    justify-content: space-between;
    background-color: pink;
    width: 1000px;
    height: 10000px;
}