body {
    background-image: url(back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
html, body {
    height: 100%;
    margin: 0;
}

#kezdo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 100px;
    min-width: 45%;
    min-height: 45%;
    cursor: pointer;
    font-size: 5vw;
    background-position: center;
    background-attachment: absolute;
    font-family: sans-serif;
    background-image: url(UU.jpg);
   
    background-size: cover;
    border: 10px solid rgb(0, 0, 0);
    color: aliceblue;
    font-weight: bold;
    transition: transform 1s ease;
    /* Animáció hozzáadása */
}



.move-up {
    transform: translate(-50%, calc(-50% - 200px));
    /* Felfelé mozgás a középpont megőrzésével */
}


@media only screen and (max-width: 600px)
{
    #szabaly1
    {
        width: 20%;
        height: 10%;
    }
}
@media only screen and (min-width: 1200px) {
    #szabaly1 
    {
        width: 20%;
        height: 10%; 
    }

  } 

#szabaly1 {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 100px;
    width: 30%;
    height: 35%;
    background-position: center;
    font-size: 50px;
    background-size: cover;
    font-family: sans-serif;
    background-image: url(back3.jpg);
    border: 10px solid rgb(0, 0, 0);
    color: aliceblue;
    font-weight: bold;
}

#jatekosokSzama {
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

#szabaly2 {
    position: fixed;
    background-position: center;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 100px;
    width: 30%;
    height: 35%;
    background-size: cover;
    font-size: 50px;
    font-family: sans-serif;
    background-image: url(back3.jpg);
    border: 10px solid rgb(0, 0, 0);
    color: aliceblue;
    font-weight: bold;
    justify-content: center; /* Tartalom középre igazítása */
    align-items: center; /* Vertikális középre igazítás */
    overflow: hidden; /* Elrejti a túlnyúló tartalmat */
}

#hard {
    width: 70px;
    height: 70px;
    cursor: pointer;
    text-align: center;
}

#done {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 100px;
    width: 10%;
    height: 10%;
    cursor: pointer;
    font-size: 50px;
    font-family: sans-serif;
    background-image: url(gombfa2.avif);
    background-size: cover;
    color: aliceblue;
    font-weight: bold;
}

#done:hover {
    width: 15%;
    height: 15%;
    font-size: 60px;
}

#kartyaKep {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 100px;


}

#mehetunkTovabb {
    position: absolute;
    top: 50%;
    left: 93%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 100px;
    width: 200px;
    height: 100px;
    cursor: pointer;
    font-size: 20px;
    font-family: sans-serif;
    background-image: url(tovabbGomb2.jpg);
    background-size: cover;
    color: aliceblue;
    font-weight: bold;
}
#jatekosMenu {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 100px;

    width: 50%;
    height: 35%;


    border: 5px solid black;
    font-size: 100px;
    font-family: sans-serif;
    background-image: url(talan.webp);
    background-size: cover;
    color: aliceblue;
    font-weight: bold;
}

#eddigPia {
    position: fixed;
    top: 80%;
    left: 87%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    line-height: 100px;
    width: 20%;
    height: 35%;
    border: 5px solid black;
  
    font-family: sans-serif;
    background-image: url(piaBack2.jpg);
    background-size: cover;
    color: aliceblue;
    font-weight: bold;
    padding: none;
    margin: none;
    line-height: 0px;
    padding-top: 5px;
}

#kepPia{
    width: 10%;
    height: 18%;
    position: relative;
    margin: 0px;     /* Képek közti margó eltávolítása */
    padding: 0px; 
    line-height: 0px;
    border: 0px;
    display: inline-block; /* A képek egymás mellé igazítása */
    vertical-align: middle; 
}
#kartyaDiv{
    position: fixed;
    width: 15%;
    
    height: 50%;
    background-color: azure;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 5%;
}
#szamDiv{
    position: fixed;
    width: 15%;
    font-size: 100px;
    height: 15%;
    background-color: azure;
    top: 10%;
    transform: translate(-50%, -50%);
    left: 15%;
    font-weight: bold;
    font-family: sans-serif;
}

#szamDiv2{
    position: fixed;
    width: 15%;
    font-size: 100px;
    height: 15%;
    background-color: azure;
    top: 75%;
    transform: translate(-50%, -50%);
    left: 70%;
    font-weight: bold;
    font-family: sans-serif;
    rotate: 180deg;
    
}
#szimbolum{
    position: fixed;
    width: 45%;
    font-size: 100px;
    height: 30%;
    
    
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  
    
}
#piaSzamlalo
{
    position: fixed;
    width: 45%;
    font-size: 80%;
    height: 30%;
    
    
    top: 20%;
    transform: translate(-50%, -50%);
    left: 94%;
  

}

#diszPiaKep {
    position: fixed;
    width: 7%;
    height: 27%;
    
    
    top: 17%;
    transform: translate(-50%, -50%);
    left: 85%;
}
