body{
    display: flex;
    height: 100vh;
    background-image: url(back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#jatekosok{
position: fixed;
top: 50%;
left: 20%;
transform: translate(-50%, -50%);
background-position: center;
font-size: 35px;
background-size: cover;
font-family: sans-serif;
background-image: url(back3.jpg);
border: 5px solid rgb(0, 0, 0);
color: aliceblue;
font-weight: bold;
text-align: center;

}
#hardMode{
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-position: center;
    font-size: 35px;
    background-size: cover;
    font-family: sans-serif;
    background-image: url(back3.jpg);
    border: 5px solid rgb(0, 0, 0);
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    
    }
#jatekosSzam {
    width: 30px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
#hard {
    width: 10vw;
    height: 6vh;
    cursor: pointer;
    text-align: center;
}
#rajt {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    width: 10%;
    height: 10%;
    cursor: pointer;
    font-size: 30px;
    font-family: sans-serif;
    background-image: url(gombfa2.avif);
    background-size: cover;
    color: aliceblue;
    font-weight: bold;
}
#vegsoGomb {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 100px;
    height: 50vh;
    width: 80vw;
    cursor: pointer;
    font-size: 5vw;
    background-position: center;
    background-attachment: absolute;
    font-family: sans-serif;
    background-image: url(UU.jpg);
   
    background-size: cover;
    border: 10px solid rgb(0, 0, 0);
    color: aliceblue;
    font-weight: bold;

}
#pakliKep {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    


}
#inditas {
    position: fixed;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    text-align: center;
   
    width: 200px;
    height: 100px;
    cursor: pointer;
    font-size: 20px;
    font-family: sans-serif;
    background-image: url(tovabbGomb2.jpg);
    background-size: cover;
    color: aliceblue;
    font-weight: bold;
}

#jatekosMenu {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 100px;



    border: 5px solid black;

    font-family: sans-serif;
    background-image: url(talan.webp);
    background-size: cover;
    color: aliceblue;
    font-weight: bold;

}
#jatekosMenuNev{
    position: fixed;
    font-size: 100%;
    display: inline;
    text-align: center;
    top: -30%;
    left: 5%;
}

#italokSzama
{
    position: fixed;
    width: 45%;
    font-size: 80%;
    height: 30%;
    
    
    top: 20%;
    transform: translate(-50%, -50%);
    left: 94%;
  

}
#piaKep {
    position: fixed;
    width: 7%;
    height: 27%;
    
    
    top: 17%;
    transform: translate(-50%, -50%);
    left: 85%;
}
#jatekosMenuHeader{
    
    width: 80%;
    height: 20vh;
    position: relative;
}
#kerdesekDiv{
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 100px;



    border: 5px solid black;

    font-family: sans-serif;
    background-image: url(a.avif);
    background-position: center;
    background-size: contain;
    color: aliceblue;
    font-weight: bold;
}


#italTarto{
    position: fixed;
    top: 80%;
    left: 87%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    line-height: 100px;
    width: 20%;
    height: 35%;
    border: 5px solid black;
    font-family: sans-serif;
    background-image: url(piaBack2.jpg);
    background-size: cover;
    color: aliceblue;
    font-weight: bold;
    padding: none;
    margin: none;
    line-height: 0px;
    padding-top: 5px;
}
/*TELEFON*/
@media only screen and (max-width: 600px) 
{
#italTarto{
    display: none;
}
#rajt{
    width: 50vw;
    height: 13vh;
    font-size: 100%;
    
}
#jatekosok {
    width: 60vw;
    height: 22vh;
    left: 50%;
    font-size: 6vw;
    top: 25%;
    padding-top: 20px;

    ;}
#jatekosSzam{
    width: 8vw;
    height: 7vw;
    font-size: 100%;
}
#hardMode {
    width: 60vw;
    height: 22vh;
    left: 50%;
    font-size: 6vw;
    top: 55%;
    padding-top: 20px;

    ;}
#hard {
    width: 10vw;
    height: 6vh;
    cursor: pointer;
    text-align: center;
    }
#pakliKep{
    height: 80vw;
    width: 80vw;
    
}
#inditas{
    width: 25vw;
    height: 25vw;
    font-size: 100%;
}
#jatekosMenu{
    width: 80vw;
    height: 28vh;

}
#jatekosMenuNev{
    position: fixed;
    font-size: 8vw;
    display: inline;
    text-align: center;
    top: -20%;
    left: 5%;
}
#piaKep{
    position: fixed;
    width: 10vw;
    height: 15vw;
    top: 15%;
    transform: translate(-50%, -50%);
    left: 78%;
    display: inline;
}
#italokSzama
{
    position: absolute;
    font-size: 8vw;
    width: 10vw;
    height: 15vw;
    top: -5%;
    transform: translate(-50%, -50%);
    left: 90%;
  

}
#jatekosMenuHeader{
    
    width: 80vw;
    height: 12vh;
    position: relative;
}
#kepPia{
    display: none;
}
#kerdesekDiv{
    width: 55vw;
    height: 30vh;
    top: 45%;
    left: 38%;
}
#kerdesekDivHeader{
    display: inline;
        top: -20%;
        position: fixed;
        left: 5%;
        text-decoration: underline;
        font-size: 6vw;
}
}

/*-------------------*/
@media only screen and (min-width: 600px) 
{
#rajt{
    width: 30vw;
    height: 15vh;
    font-size: 4vw;
    
}
#jatekosok {
    width: 35vw;
    height: 40vh;
    left: 22%;
    font-size: 3vw;
    
    padding-top: 20px;

    ;}
#jatekosSzam{
    width: 4.5vw;
    height: 4vw;
}
#hardMode {
    width: 35vw;
    height: 40vh;
    left: 78%;
    font-size: 3vw;
    
    padding-top: 20px;

    ;}
#hard {
    width: 10vw;
    height: 6vh;
    cursor: pointer;
    text-align: center;
    }
}



@media only screen and (min-width: 1200px) 
{
#jatekosok {
width: 30vw;
height: 40vh;
left: 25%;
padding: 1vw;}
#hardMode {
    width: 30vw;
    height: 40vh;
    left: 75%;
    padding: 1vw;
}
#jatekosSzam{
    width: 4vw;
    height: 4vw;
    font-size: 90%;
}

#hard {
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    text-align: center;
    }
    #rajt{
        width: 20vw;
        height: 13vh;
        font-size: 3vw;
        
    }
#vegsoGomb{
    width: 50vw;
    height: 60vh;
}
#pakliKep{
    height: 40vw;
    width: 40vw;
    top: 30%;
    
}
#inditas{
    width: 10vw;
    height: 5vw;
    font-size: 2vw;
    left: 93%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}
#jatekosMenu{
    width: 50vw;
    height: 35vh;
    top: 80%;
    background-position: center;
    background-size: cover;

}
#jatekosMenuNev{
    position: fixed;
    font-size: 2.5vw;
    display: inline;
    text-align: center;
    top: -10%;
    left: 2%;
}
#piaKep{
    position: fixed;
    width: 4vw;
    height: 6vw;
    top: 20%;
    transform: translate(-50%, -50%);
    left: 85%;
    display: inline;
}
#italokSzama
{
    position: absolute;
    font-size: 3vw;
    width: 10vw;
    height: 15vw;
    top: 75%;
    transform: translate(-50%, -50%);
    left: 118%;
  

}
#kerdesekDiv{
    width: 20vw;
    height: 90vh;
    top: 52.5%;
    left: 13%;
}
#kerdesekDivHeader{
    display: inline;
        top: 0%;
        position: fixed;
        left: 5%;
        text-decoration: underline;
        font-size: 4vw;
        text-align: center;
        justify-content: center;
}
#italTarto{

    width: 20vw;
    height: 35vh;
    top: 80%;
    display: inline-block;
    position: fixed;
    left: 87%;

}
#kepPia{
    width: 10%;
    height: 18%;
    position: relative;
    margin: 0px;     /* Képek közti margó eltávolítása */
    padding: 0px; 
    line-height: 0px;
    border: 0px;
    display: inline; /* A képek egymás mellé igazítása */
    vertical-align: middle; 
}
#pirosGomb
{
    margin-top: 100%;
}
}
